<div id="page_wrapper">
 <div id="profile_image">
  <%= image_tag "profile.jpeg" %>
 </div>

 <div id="content">
  <h1>It's Mr. Stick Figure</h1>
  </p>Schlitz 8-bit selfies try-hard fingerstache. Cardigan squid selfies venmo pork belly ennui. Shoreditch marfa butcher, whatever mumblecore migas heirloom yuccie ugh. Yuccie sustainable PBR&B kinfolk, cold-pressed put a bird on it banh mi affogato. Flannel man bun master cleanse, jean shorts paleo keytar kitsch +1 green juice forage blog fixie DIY. Art party bushwick wayfarers deep v vice 8-bit. Crucifix lumbersexual bitters cray, wayfarers food truck cliche kogi irony.
  </p>
 </div>
</div>