<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 clas="title"><%= link_to post.title, posts_path %></h2>
		<p class="date"><%= time_ago_in_words(post.created_at) %>ago</p>
	</div>
<% end %>